# usual rubbish
res
res.*
*~

# txt files created from PDF files in here
docs/ES51922.txt



# SciTE session files
*.session



*.la
*.lo
*.a
*.o

linux/lib/Makefile
linux/lib/include/Makefile
linux/lib/src/Makefile

linux/lib/config.log
linux/lib/config.status
linux/lib/libtool
linux/lib/src/.deps/
linux/lib/src/.libs/
linux/lib/src/config.h
linux/lib/src/stamp-h1
